@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow-x: hidden;
  min-width: 360px;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  min-width: 360px;
  position: relative;
  color: #333333;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1800px;
  padding: 0 15px;
  margin: auto;
}

.row {
  margin: 0 -15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.col {
  padding: 0 15px;
}

.s-title {
  font-weight: bold;
  font-size: 34px;
  margin-bottom: 30px;
}

.section {
  margin-bottom: 50px;
}

.wrapper {
  position: relative;
  background-color: #ffffff;
  z-index: 1;
  -webkit-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
  left: 0;
}

@media (max-width: 991px) {
  .wrapper {
    padding-top: 150px;
  }
}

.wrapper.active-menu {
  left: 50%;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

@media (max-width: 575px) {
  .wrapper.active-menu {
    left: 80%;
  }
}

.wrapper.active-menu::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}

.scroll-top {
  position: fixed;
  bottom: 20px;
  right: -100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
  -webkit-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
}

.scroll-top.active {
  right: 20px;
}

.scroll-top i {
  color: #ffffff;
}

.header {
  padding: 15px 0;
  position: relative;
}

.header.active-menu {
  left: 50%;
  right: inherit;
}

@media (max-width: 575px) {
  .header.active-menu {
    left: 80%;
  }
}

@media (max-width: 991px) {
  .header {
    border-bottom: 1px solid #eee;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    background-color: #ffffff;
    -webkit-transition: .25s;
    -o-transition: .25s;
    transition: .25s;
    padding: 0;
  }
}

.header-row {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991px) {
  .header-row {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

.header-logo-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  color: #8BB62B;
  font-weight: bold;
  font-size: 40px;
}

@media (max-width: 991px) {
  .header__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media (max-width: 575px) {
  .header__logo {
    font-size: 30px;
  }
}

@media (max-width: 479px) {
  .header__logo {
    font-size: 24px;
  }
}

.header-info-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__position {
  font-size: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__position i {
  font-size: 30px;
  color: rgba(0, 0, 0, 0.7);
  margin-right: 5px;
}

@media (max-width: 991px) {
  .header__position {
    display: none;
  }
}

.header__time {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
  margin-left: 30px;
}

@media (max-width: 991px) {
  .header__time {
    display: none;
  }
}

.header-phones {
  margin-left: 30px;
}

@media (max-width: 991px) {
  .header-phones {
    display: none;
  }
}

.header__phone {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__flag {
  width: 26px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin-right: 3px;
}

.header__phone-number {
  font-weight: bold;
  color: #000000;
}

.header__cart {
  margin-left: 30px;
  text-align: center;
  color: #000000;
}

.header__cart:hover .header__cart-icon i {
  font-size: 18px;
}

@media (max-width: 991px) {
  .header__cart {
    margin-left: 0;
    padding: 5px 0 0;
  }
}

.header__cart-icon {
  background-color: #8BB62B;
  position: relative;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100%;
  margin: auto;
}

.header__cart-icon i {
  color: #ffffff;
  font-size: 16px;
  -webkit-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
}

.header__cart-numofitems {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #CF2028;
  color: #ffffff;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__cart-price {
  font-size: 20px;
  text-align: center;
}

.menu {
  background-color: #8BB62B;
  margin-bottom: 30px;
}

@media (max-width: 991px) {
  .menu {
    display: none;
  }
}

.menu.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

.menu-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.menu__link {
  display: inline-block;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  padding: 16px 10px;
  text-transform: uppercase;
  -webkit-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
}

@media (max-width: 1399px) {
  .menu__link {
    font-size: 18px;
  }
}

@media (max-width: 1199px) {
  .menu__link {
    font-size: 13px;
  }
}

.menu__link:hover {
  background-color: #6b8d21;
}

.stock-col {
  width: 240px;
  margin-bottom: 15px;
}

@media (max-width: 964px) {
  .stock-col {
    width: 25%;
  }
}

@media (max-width: 767px) {
  .stock-col {
    width: 33.33%;
  }
}

@media (max-width: 575px) {
  .stock-col {
    width: 50%;
  }
}

.stock {
  width: 100%;
  overflow: hidden;
  background-color: #000000;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-radius: 6px;
  padding: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  position: relative;
}

@media (max-width: 575px) {
  .stock {
    font-size: 16px;
  }
}

.stock:hover .stock__img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.stock::before {
  content: '';
  float: left;
  padding-top: 150%;
}

.stock::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(black), color-stop(40%, rgba(0, 0, 0, 0.2)));
  background: -o-linear-gradient(bottom, black 0%, rgba(0, 0, 0, 0.2) 40%);
  background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0.2) 40%);
}

.stock__img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-position: center;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.stock__text {
  position: relative;
  z-index: 2;
}

.product-col {
  width: 25%;
  margin-bottom: 40px;
}

@media (max-width: 1199px) {
  .product-col {
    width: 33.33%;
  }
}

.product__img {
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
  position: relative;
  display: block;
}

.product__img:hover .product__img-hover {
  opacity: 1;
}

.product__img::before {
  content: '';
  float: left;
  padding-top: 60%;
}

.product__img-hover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  opacity: 0;
  -webkit-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
}

.product__img-hover-icon {
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #CF2028;
  border-radius: 100%;
}

@media (max-width: 575px) {
  .product__img-hover-icon {
    width: 35px;
    height: 35px;
    font-size: 12px;
  }
}

.product__title {
  font-weight: bold;
  font-size: 18px;
}

@media (max-width: 479px) {
  .product__title {
    font-size: 14px;
  }
}

.product__info {
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
}

@media (max-width: 479px) {
  .product__info {
    font-size: 12px;
  }
}

.product__price {
  color: #CF2028;
  font-weight: bold;
}

@media (max-width: 479px) {
  .product__price {
    font-size: 14px;
  }
}

.s-order {
  background-color: #CF2028;
  padding: 80px 0 60px;
}

.s-order__title {
  color: #ffffff;
  font-weight: bold;
  font-size: 30px;
}

.s-order__subtitle {
  color: #ffffff;
  font-size: 16px;
}

.s-order-cart-col {
  width: 50%;
}

@media (max-width: 1199px) {
  .s-order-cart-col {
    width: 100%;
  }
}

.s-order-form-col {
  width: 50%;
}

@media (max-width: 1199px) {
  .s-order-form-col {
    width: 100%;
  }
}

.s-order__cart {
  width: 100%;
  color: #fff;
  margin-top: 30px;
  border-collapse: collapse;
}

@media (max-width: 1199px) {
  .s-order__cart {
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 80px;
  }
}

.s-order__cart .head {
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.s-order__cart .head td {
  font-weight: bold;
}

.s-order__cart .title {
  text-align: left;
}

@media (max-width: 575px) {
  .s-order__cart .title {
    max-width: 100px;
  }
}

.s-order__cart td {
  text-align: center;
  padding: 10px;
  font-size: 14px;
}

.s-order__cart .remove {
  width: 10px;
}

.s-order__cart .remove-btn {
  color: #ffffff;
  opacity: 0.7;
  -webkit-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
  display: inline-block;
}

.s-order__cart .remove-btn:hover {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  opacity: 1;
}

.s-order__cart .summ {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.s-order__cart-minus,
.s-order__cart-plus {
  color: #ffffff;
  width: 22px;
  height: 22px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  -webkit-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
  font-weight: bold;
}

@media (max-width: 479px) {
  .s-order__cart-minus,
  .s-order__cart-plus {
    width: 10px;
  }
}

.s-order__cart-minus:hover,
.s-order__cart-plus:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.s-order__form {
  color: #ffffff;
  border: 1px dashed #fff;
  padding: 30px;
  border-radius: 10px;
}

@media (max-width: 767px) {
  .s-order__form {
    padding: 40px 20px;
  }
}

.s-order-form__block {
  margin-bottom: 30px;
}

.s-order-form__title {
  font-size: 14px;
  margin-bottom: 15px;
}

.s-order-form__title span {
  font-size: 30px;
  font-weight: bold;
}

.s-order-form__title .zl {
  font-weight: normal;
}

.s-order-form-radios {
  margin: 20px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .s-order-form-radios {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.s-order-form-radio-label {
  margin-right: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.s-order-form-radio-label input {
  display: none;
}

.s-order-form-radio-label input:checked + span span {
  opacity: 1;
}

.s-order-form-radio-label span {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #fff;
  margin-right: 6px;
  -webkit-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.s-order-form-radio-label span span {
  background-color: #CF2028;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  display: block;
  margin: auto;
  opacity: 0;
}

.s-order-form__label {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.s-order-form__label label.error {
  background-color: rgba(0, 0, 0, 0.38);
  display: block;
  color: #efe0e0;
  padding: 6px 5px 3px 5px;
  margin-top: -3px;
  border-radius: 0 0 4px 4px;
  font-size: 12px;
  line-height: 14px;
  z-index: 9;
}

.s-order-form__label-text {
  font-size: 14px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 5px;
}

.s-order-form__input,
.s-order-form__select,
.s-order-form__textarea {
  display: block;
  width: 100%;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  color: #555555;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  background-color: #ffffff;
  z-index: 10;
  position: relative;
}

.s-order-form__input::-webkit-input-placeholder,
.s-order-form__select::-webkit-input-placeholder,
.s-order-form__textarea::-webkit-input-placeholder {
  color: #555555;
}

.s-order-form__input::-moz-placeholder,
.s-order-form__select::-moz-placeholder,
.s-order-form__textarea::-moz-placeholder {
  color: #555555;
}

.s-order-form__input:-ms-input-placeholder,
.s-order-form__select:-ms-input-placeholder,
.s-order-form__textarea:-ms-input-placeholder {
  color: #555555;
}

.s-order-form__input::-ms-input-placeholder,
.s-order-form__select::-ms-input-placeholder,
.s-order-form__textarea::-ms-input-placeholder {
  color: #555555;
}

.s-order-form__input::placeholder,
.s-order-form__select::placeholder,
.s-order-form__textarea::placeholder {
  color: #555555;
}

.s-order-form__select {
  padding: 5px 5px;
}

.s-order-form__textarea {
  min-height: 100px;
}

.s-order-form__error {
  border-radius: 4px;
  color: #000000;
  padding: 4px 9px;
  background-color: #fff360f2;
  font-size: 12px;
}

.s-order-thx {
  color: #ffffff;
  text-align: center;
  font-size: 30px;
}

.s-order-thx span {
  color: #ffeb3b;
}

.s-oder-form__btn {
  border: 1px solid #fff;
  border-radius: 3px;
  display: block;
  max-width: 100%;
  text-align: center;
  padding: 15px 20px;
  margin-top: 40px;
  cursor: pointer;
  background-color: transparent;
  color: #ffffff;
  font-size: 16px;
  opacity: 0.8;
  -webkit-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
}

.s-oder-form__btn:hover {
  opacity: 1;
}

.s-oder-form__btn:disabled {
  cursor: not-allowed;
}

.form-col-8 {
  width: 66.66%;
}

@media (max-width: 991px) {
  .form-col-8 {
    width: 100%;
  }
}

.form-col-6 {
  width: 50%;
}

@media (max-width: 991px) {
  .form-col-6 {
    width: 100%;
  }
}

.form-col-4 {
  width: 33.33%;
}

@media (max-width: 991px) {
  .form-col-4 {
    width: 100%;
  }
}

.s-contacts {
  position: relative;
}

.contacts-col {
  width: 40%;
}

@media (max-width: 767px) {
  .contacts-col {
    width: 100%;
  }
}

.map {
  background-color: #000000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 60%;
}

@media (max-width: 767px) {
  .map {
    position: relative;
    height: 400px;
    width: 100%;
  }
}

.contacts {
  padding: 50px 0 80px;
  font-size: 18px;
}

.contacts a {
  color: #CF2028;
  font-weight: bold;
  font-size: 24px;
  text-decoration: underline;
}

.footer {
  background-color: #383737;
  padding: 20px 0;
  color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 767px) {
  .footer {
    text-align: center;
  }
}

.footer a {
  color: rgba(255, 255, 255, 0.7);
}

.footer-row {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .footer-row .col {
    width: 100%;
  }
}

.footer-info span {
  margin-right: 5px;
}

.mobile-menu-btn {
  display: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70px;
  height: 100%;
  top: 0;
  left: 0;
  border-right: 1px solid #eee;
  padding: 0 25px 0 10px;
}

@media (max-width: 991px) {
  .mobile-menu-btn {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.mobile-menu-btn span:after,
.mobile-menu-btn span:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9px;
}

.mobile-menu-btn span:after {
  top: 9px;
}

.mobile-menu-btn span {
  position: relative;
  display: block;
}

.mobile-menu-btn span,
.mobile-menu-btn span:after,
.mobile-menu-btn span:before {
  width: 100%;
  height: 3px;
  background-color: #8BB62B;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 2px;
}

.mobile-menu-btn.on span {
  background-color: transparent;
}

.mobile-menu-btn.on span:before {
  -webkit-transform: rotate(45deg) translate(-1px, 0px);
      -ms-transform: rotate(45deg) translate(-1px, 0px);
          transform: rotate(45deg) translate(-1px, 0px);
}

.mobile-menu-btn.on span:after {
  -webkit-transform: rotate(-45deg) translate(6px, -7px);
      -ms-transform: rotate(-45deg) translate(6px, -7px);
          transform: rotate(-45deg) translate(6px, -7px);
}

.mobile-menu {
  position: fixed;
  min-height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50%;
  background-color: #333333;
  overflow: auto;
  padding: 40px 0;
  opacity: 0;
}

.mobile-menu.active-menu {
  opacity: 1;
}

@media (max-width: 575px) {
  .mobile-menu {
    width: 80%;
  }
}

.mobile-menu__link {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  padding: 10px 10px 10px 20px;
  font-size: 16px;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.mobile-menu__link:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.mobile-menu__title {
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  margin-bottom: 30px;
}

.mobile-menu-links {
  margin-bottom: 30px;
}

.mobile-menu-phone {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px 0 20px;
  margin-bottom: 10px;
}

.mobile-menu-phone__flag {
  width: 30px;
  margin-right: 5px;
}

.mobile-menu-phone__number {
  color: #ffffff;
  font-weight: bold;
}

.mobile-menu__text {
  padding: 0 10px 0 20px;
  color: #ffffff;
  margin-top: 14px;
}

.stock-popup {
  background: white;
  padding: 20px 0;
  max-width: 960px;
  margin: 40px auto;
  position: relative;
}

.stock-popup p {
  margin-bottom: 10px;
}

.stock-popup .mfp-close {
  color: #CF2028;
  opacity: 1;
  font-weight: bold;
}

.stock-popup__title {
  padding: 20px 40px;
  border-bottom: 1px solid #eee;
  font-size: 18px;
  font-weight: bold;
}

.stock-popup__text {
  padding: 0 40px;
}

/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}

/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

.my-mfp-slide-bottom .zoom-anim-dialog {
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transform: translateY(-20px) perspective(600px) rotateX(10deg);
          transform: translateY(-20px) perspective(600px) rotateX(10deg);
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  -webkit-transform: translateY(0) perspective(600px) rotateX(0);
          transform: translateY(0) perspective(600px) rotateX(0);
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
  opacity: 0;
  -webkit-transform: translateY(-10px) perspective(600px) rotateX(10deg);
          transform: translateY(-10px) perspective(600px) rotateX(10deg);
}

/* Dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
  opacity: 0;
}

.loading, .preloader {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loading svg, .preloader svg {
  display: block;
  margin: 0;
  padding: 0;
}

.loading .spinner, .preloader .spinner {
  width: 66px;
  height: 66px;
  -webkit-animation: contanim 1s linear infinite;
          animation: contanim 1s linear infinite;
}

.loading svg, .preloader svg {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.loading svg:nth-child(1) circle, .preloader svg:nth-child(1) circle {
  stroke: #8BB62B;
  stroke-dasharray: 1, 300;
  stroke-dashoffset: 0;
  -webkit-animation: strokeanim 1.5s -webkit-calc(.2s * (1)) ease infinite;
          animation: strokeanim 1.5s calc(.2s * (1)) ease infinite;
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
}

.loading svg:nth-child(2) circle, .preloader svg:nth-child(2) circle {
  stroke: #4977EC;
  stroke-dasharray: 1, 300;
  stroke-dashoffset: 0;
  -webkit-animation: strokeanim 1.5s -webkit-calc(.2s * (2)) ease infinite;
          animation: strokeanim 1.5s calc(.2s * (2)) ease infinite;
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
}

.loading svg:nth-child(3) circle, .preloader svg:nth-child(3) circle {
  stroke: #CF2028;
  stroke-dasharray: 1, 300;
  stroke-dashoffset: 0;
  -webkit-animation: strokeanim 1.5s -webkit-calc(.2s * (3)) ease infinite;
          animation: strokeanim 1.5s calc(.2s * (3)) ease infinite;
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
}

.loading svg:nth-child(4) circle, .preloader svg:nth-child(4) circle {
  stroke: #333841;
  stroke-dasharray: 1, 300;
  stroke-dashoffset: 0;
  -webkit-animation: strokeanim 1.5s -webkit-calc(.2s * (4)) ease infinite;
          animation: strokeanim 1.5s calc(.2s * (4)) ease infinite;
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
}

@-webkit-keyframes strokeanim {
  0% {
    stroke-dasharray: 1, 300;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 120, 300;
    stroke-dashoffset: -58.54832;
  }
  100% {
    stroke-dasharray: 120, 300;
    stroke-dashoffset: -175.64497;
  }
}

@keyframes strokeanim {
  0% {
    stroke-dasharray: 1, 300;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 120, 300;
    stroke-dashoffset: -58.54832;
  }
  100% {
    stroke-dasharray: 120, 300;
    stroke-dashoffset: -175.64497;
  }
}

@-webkit-keyframes contanim {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes contanim {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.preloader {
  background-color: #CF2028;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
