.s-contacts {
  position: relative;
}

.contacts-col {
  width: 40%;

  @media(max-width: 767px) {
    width: 100%;
  }
}

.map {
  background-color: #000000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 60%;

  @media(max-width: 767px) {
    position: relative;
    height: 400px;
    width: 100%;
  }
}

.contacts {
  padding: 50px 0 80px;
  font-size: 18px;

  a {
    color: $red;
    font-weight: bold;
    font-size: 24px;
    text-decoration: underline;
  }
}