.footer {
  background-color: #383737;
  padding: 20px 0;
  color: rgba(#fff, .7);

  @media(max-width: 767px) {
    text-align: center;
  }

  a {
    color: rgba(#fff, .7);
  }
}

.footer-row {
  justify-content: space-between;

  .col {
    @media(max-width: 767px) {
      width: 100%;
    }
  }
}

.footer-info {
  span {
    margin-right: 5px;
  }
}