.header {
  padding: 15px 0;
  position: relative;

  &.active-menu {
    left: 50%;
    right: inherit;

    @media(max-width: 575px) {
      left: 80%;
    }
  }

  @media(max-width: 991px) {
    border-bottom: 1px solid #eee;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    background-color: #ffffff;
    transition: .25s;
    padding: 0;
  }
}

.header-row {
  justify-content: space-between;
  align-items: center;

  @media(max-width: 991px) {
    align-items: stretch;
  }
}

.header-logo-col {
  display: flex;
  align-items: center;
}

.header__logo {
  color: $green;
  font-weight: bold;
  font-size: 40px;

  @media(max-width: 991px) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media(max-width: 575px) {
    font-size: 30px;
  }

  @media(max-width: 479px) {
    font-size: 24px;
  }
}

.header-info-col {
  display: flex;
  align-items: center;
}

.header__position {
  font-size: 20px;
  display: flex;
  align-items: center;

  i {
    font-size: 30px;
    color: rgba(#000, .7);
    margin-right: 5px;
  }

  @media(max-width: 991px) {
    display: none;
  }
}

.header__time {
  font-size: 20px;
  color: rgba(#000, .8);
  margin-left: 30px;

  @media(max-width: 991px) {
    display: none;
  }
}

.header-phones {
  margin-left: 30px;

  @media(max-width: 991px) {
    display: none;
  }
}

.header__phone {
  display: flex;
  align-items: center;
}

.header__flag {
  width: 26px;
  border: 1px solid rgba(#000, .3);
  margin-right: 3px;
}

.header__phone-number {
  font-weight: bold;
  color: #000000;
}

.header__cart {
  margin-left: 30px;
  text-align: center;
  color: #000000;

  &:hover {
    .header__cart-icon {
      i {
        font-size: 18px;
      }
    }
  }

  @media(max-width: 991px) {
    margin-left: 0;
    padding: 5px 0 0;
  }
}

.header__cart-icon {
  background-color: $green;
  position: relative;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  margin: auto;

  i {
    color: #ffffff;
    font-size: 16px;
    transition: .25s;
  }
}

.header__cart-numofitems {
  position: absolute;
  top: 0;
  right: 0;
  background-color: $red;
  color: #ffffff;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__cart-price {
  font-size: 20px;
  text-align: center;
}
