@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

$green: #8BB62B;
$red: #CF2028;

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  min-width: 360px;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  min-width: 360px;
  position: relative;
  color: #333333;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1800px;
  padding: 0 15px;
  margin: auto;
}

.row {
  margin: 0 -15px;
  display: flex;
  flex-wrap: wrap;
}

.col {
  padding: 0 15px;
}

.s-title {
  font-weight: bold;
  font-size: 34px;
  margin-bottom: 30px;
}

.section {
  margin-bottom: 50px;
}

.wrapper {
  position: relative;
  background-color: #ffffff;
  z-index: 1;
  transition: .25s;
  left: 0;

  @media(max-width: 991px) {
    padding-top: 150px;
  }

  &.active-menu {
    left: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

    @media(max-width: 575px){
      left: 80%;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 999;
    }
  }
}

.scroll-top {
  position: fixed;
  bottom: 20px;
  right: -100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  background-color: rgba(#000, .6);
  z-index: 5;
  transition: .25s;

  &.active {
    right: 20px;
  }

  i {
    color: #ffffff;
  }
}

@import 'header-section';
@import 'menu-section';
@import 'stocks-section';
@import 'products-section';
@import 'order-section';
@import 'contacts-section';
@import 'footer-section';
@import 'mobile-menu';
@import 'popups';
@import 'preloaders';
