.menu {
  background-color: $green;
  margin-bottom: 30px;

  @media(max-width: 991px) {
    display: none;
  }

  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
  }
}

.menu-links {
  display: flex;
}

.menu__link {
  display: inline-block;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  padding: 16px 10px;
  text-transform: uppercase;
  transition: .25s;

  @media(max-width: 1399px) {
    font-size: 18px;
  }

  @media(max-width: 1199px) {
    font-size: 13px;
  }

  &:hover {
    background-color: darken($green, 10%);
  }
}
