.mobile-menu-btn {
  display: none;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 100%;
  top: 0;
  left: 0;
  border-right: 1px solid #eee;
  padding: 0 25px 0 10px;

  @media (max-width: 991px) {
    display: inline-flex;
  }

  span:after,
  span:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9px;
  }

  span:after {
    top: 9px;
  }

  span {
    position: relative;
    display: block;
  }

  span,
  span:after,
  span:before {
    width: 100%;
    height: 3px;
    background-color: $green;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px;
  }

  &.on span {
    background-color: transparent;
  }


  &.on span:before {
    transform: rotate(45deg) translate(-1px, 0px);
  }

  &.on span:after {
    transform: rotate(-45deg) translate(6px, -7px);
  }

}

.mobile-menu {
  position: fixed;
  min-height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50%;
  background-color: #333333;
  overflow: auto;
  padding: 40px 0;
  opacity: 0;

  &.active-menu {
    opacity: 1;
  }

  @media(max-width: 575px) {
    width: 80%;
  }
}

.mobile-menu__link {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  padding: 10px 10px 10px 20px;
  font-size: 16px;
  border-top: 1px solid rgba(0, 0, 0, 0.15);

  &:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  }
}

.mobile-menu__title {
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  margin-bottom: 30px;
}

.mobile-menu-links {
  margin-bottom: 30px;
}

.mobile-menu-phone {
  display: flex;
  align-items: center;
  padding: 0 10px 0 20px;
  margin-bottom: 10px;
}

.mobile-menu-phone__flag {
  width: 30px;
  margin-right: 5px;
}

.mobile-menu-phone__number {
  color: #ffffff;
  font-weight: bold;
}

.mobile-menu__text {
  padding: 0 10px 0 20px;
  color: #ffffff;
  margin-top: 14px;
}
