.s-order {
  background-color: $red;
  padding: 80px 0 60px;
}

.s-order__title {
  color: #ffffff;
  font-weight: bold;
  font-size: 30px;
}

.s-order__subtitle {
  color: #ffffff;
  font-size: 16px;
}

.s-order-cart-col {
  width: 50%;

  @media(max-width: 1199px) {
    width: 100%;
  }
}

.s-order-form-col {
  width: 50%;

  @media(max-width: 1199px) {
    width: 100%;
  }
}

.s-order__cart {
  width: 100%;
  color: #fff;
  margin-top: 30px;
  border-collapse: collapse;

  @media(max-width: 1199px) {
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 80px;
  }

  .head {
    border-bottom: 2px solid rgba(#fff, .5);

    td {
      font-weight: bold;
    }
  }

  .title {
    text-align: left;

    @media(max-width: 575px) {
      max-width: 100px;
    }
  }

  td {
    text-align: center;
    padding: 10px;
    font-size: 14px;
  }

  .remove {
    width: 10px;
  }

  .remove-btn {
    color: #ffffff;
    opacity: 0.7;
    transition: .25s;
    display: inline-block;

    &:hover {
      transform: rotate(180deg);
      opacity: 1;
    }
  }

  .summ {
    border-top: 1px solid rgba(#fff, .5);
  }
}

.s-order__cart-minus,
.s-order__cart-plus {
  color: #ffffff;
  width: 22px;
  height: 22px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: .25s;
  font-weight: bold;

  @media(max-width: 479px) {
    width: 10px;
  }

  &:hover {
    background-color: rgba(#000, .1);
  }
}

.s-order__form {
  color: #ffffff;
  border: 1px dashed #fff;
  padding: 30px;
  border-radius: 10px;

  @media(max-width: 767px) {
    padding: 40px 20px;
  }
}

.s-order-form__block {
  margin-bottom: 30px;
}

.s-order-form__title {
  font-size: 14px;
  margin-bottom: 15px;

  span {
    font-size: 30px;
    font-weight: bold;
  }

  .zl {
    font-weight: normal;
  }
}

.s-order-form-radios {
  margin: 20px 0;
  display: flex;

  @media(max-width: 767px) {
    flex-direction: column;
  }
}

.s-order-form-radio-label {
  margin-right: 40px;
  display: flex;
  align-items: center;
  user-select: none;

  input {
    display: none;
  }

  input:checked + span {
    span {
      opacity: 1;
    }
  }

  span {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #fff;
    margin-right: 6px;
    transition: .25s;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      background-color: $red;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      display: block;
      margin: auto;
      opacity: 0;
    }
  }
}

.s-order-form__label {
  display: block;
  width: 100%;
  margin-bottom: 10px;

  label.error {
    background-color: rgba(#000, .38);
    display: block;
    color: #efe0e0;
    padding: 6px 5px 3px 5px;
    margin-top: -3px;
    border-radius: 0 0 4px 4px;
    font-size: 12px;
    line-height: 14px;
    z-index: 9;
  }
}

.s-order-form__label-text {
  font-size: 14px;
  font-weight: bold;
  color: rgba(#fff, .8);
  margin-bottom: 5px;
}

.s-order-form__input,
.s-order-form__select,
.s-order-form__textarea {
  display: block;
  width: 100%;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  color: #555555;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  background-color: #ffffff;
  z-index: 10;
  position: relative;

  &::placeholder {
    color: rgb(85, 85, 85);
  }
}

.s-order-form__select {
  padding: 5px 5px;
}

.s-order-form__textarea {
  min-height: 100px;
}

.s-order-form__error {
  border-radius: 4px;
  color: #000000;
  padding: 4px 9px;
  background-color: #fff360f2;
  font-size: 12px;
}

.s-order-thx {
  color: #ffffff;
  text-align: center;
  font-size: 30px;

  span {
    color: #ffeb3b;
  }
}

.s-oder-form__btn {
  border: 1px solid #fff;
  border-radius: 3px;
  display: block;
  max-width: 100%;
  text-align: center;
  padding: 15px 20px;
  margin-top: 40px;
  cursor: pointer;
  background-color: transparent;
  color: #ffffff;
  font-size: 16px;
  opacity: 0.8;
  transition: .25s;

  &:hover {
    opacity: 1;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.form-col-8 {
  width: 66.66%;
  @media(max-width: 991px) {
    width: 100%;
  }
}

.form-col-6 {
  width: 50%;
  @media(max-width: 991px) {
    width: 100%;
  }
}

.form-col-4 {
  width: 33.33%;
  @media(max-width: 991px) {
    width: 100%;
  }
}
