.loading, .preloader {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  align-items: center;
  justify-content: center;
  svg {
    display: block;

    margin: 0;
    padding: 0;
  }

  .spinner {
    width: 66px;
    height: 66px;

    animation: contanim 1s linear infinite;
  }

  //$colors: #84EBBD, #4977EC, #F6BB67, #333841;
  $colors: $green, #4977EC, $red, #333841;
  $d: 175.6449737548828;

  svg {
    width: 100%;
    height: 100%;

    left: 0;
    top: 0;
    position: absolute;

    transform: rotate(-90deg);

    @for $i from 1 through 4 {
      &:nth-child(#{$i}) circle {
        stroke: nth($colors, $i);
        stroke-dasharray: 1, 300;
        stroke-dashoffset: 0;

        animation: strokeanim 1.5s calc(.2s * (#{$i})) ease infinite;
        transform-origin: center center;
      }
    }
  }

  @keyframes strokeanim {
    0% {
      stroke-dasharray: 1, 300;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 120, 300;
      stroke-dashoffset: -$d / 3;
    }
    100% {
      stroke-dasharray: 120, 300;
      stroke-dashoffset: -$d;
    }
  }

  @keyframes contanim {
    100% {
      transform: rotate(360deg)
    }
  }
}

.preloader {
  background-color: $red;
  display: flex;
}
