.product-col {
  width: 25%;
  margin-bottom: 40px;

  @media(max-width: 1199px) {
    width: 33.33%;
  }
}

.product__img {
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
  position: relative;
  display: block;

  &:hover {
    .product__img-hover {
      opacity: 1;
    }
  }

  &::before {
    content: '';
    float: left;
    padding-top: 60%;
  }
}

.product__img-hover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(#000, .5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  opacity: 0;
  transition: .25s;
}

.product__img-hover-icon {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $red;
  border-radius: 100%;

  @media(max-width: 575px) {
    width: 35px;
    height: 35px;
    font-size: 12px;
  }
}

.product__title {
  font-weight: bold;
  font-size: 18px;

  @media(max-width: 479px) {
    font-size: 14px;
  }
}

.product__info {
  color: rgba(#000, .7);
  font-size: 14px;

  @media(max-width: 479px) {
    font-size: 12px;
  }
}

.product__price {
  color: $red;
  font-weight: bold;

  @media(max-width: 479px) {
    font-size: 14px;
  }
}
