.stock-col {
  width: 240px;
  margin-bottom: 15px;

  @media(max-width: 964px) {
    width: 25%;
  }

  @media(max-width: 767px) {
    width: 33.33%;
  }

  @media(max-width: 575px) {
    width: 50%;
  }
}

.stock {
  width: 100%;
  overflow: hidden;
  background-color: #000000;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
  display: flex;
  align-items: flex-end;
  border-radius: 6px;
  padding: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 1s;
  position: relative;

  @media(max-width: 575px) {
    font-size: 16px;
  }

  &:hover {
    .stock__img {
      transform: scale(1.1);
    }
  }

  &::before {
    content: '';
    float: left;
    padding-top: 150%;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.2) 40%);
  }
}

.stock__img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-position: center;
  transition: 1s;
}

.stock__text {
  position: relative;
  z-index: 2;
}